@{
    ViewBag.Title = "Index";
    ViewBag.SectionTitle = "Admin";
    Layout = "~/Areas/Admin/Views/Shared/_adminlayout.cshtml";
}

@section righthead {
    <h1>Settings</h1>
    <h2>This is where you manage your site</h2>
}