html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 4.2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }


/* LAYOUT */

.span24,
.span18,
.span6
{
	float: left;
	position: relative;
	margin-left: 1%;
	margin-right: 1%;
    min-height:1px;
}

.span24
{
    width:98%;
}
.span18
{
    width:72.99%;
}
.span6
{
    width:22.99%;
}

.container
{
    width: 960px;
    margin:0 auto;
}

@media (min-width:1200px)
{
    .container
    {
        width:1200px;
    }
}

@media (min-width:768px) and (max-width:979px)
{
    .container
    {
        width:740px;
    }
}

/* styling */

h2#title
{
    font-size: 3.6em;
    line-height: 1.8em;
    margin:0;
    float:left;
    margin-right: 30px;
}
h3#sectiontitle
{
    font-size:1.6em;
    margin-top:40px;
}

.half
{
    width:50%;
    float:left;
}

#headleft, #headright
{
    height: 240px;
    position:relative;
}

#headleft
{
    background: url('images/administrate.jpg') center left no-repeat;
}

#headactions
{
    display:inline;
    position:absolute;
    right:20px;
    bottom:20px;
}

#headactions a
{
    color:#fff;
    text-decoration:none;
    display:block;
    width:88px;
    float:left;
    margin-right:12px;
    height:28px;
    font-size: 1.4em;
}

/* tiles */
a.tile
{
    display:block;
    color:white;
    text-decoration:none;
    font-size:2em;
    line-height:3em;
    padding-left: 1em;
    margin-top: 20px;
    background-repeat:no-repeat;
    background-position: 210px 26px;
}
    a.tile:hover
    {
        opacity:0.8;
    }

    a.tile.add
    {
        background-image: url('images/tileicons/Add-entry-small.png');
    }