@model SearchableLife.Domain.Model.Entry

@{
    ViewBag.Title = "Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Entry</h2>

@using (Html.BeginForm("Entry", "Admin",FormMethod.Post))
{

    @Html.TextBoxFor(e => e.Title)
    @Html.TextBoxFor(e => e.Slug)
    @Html.TextBox("csTags")
    @Html.TextAreaFor(e => e.HtmlContent)

    <input type="submit" value="Submit" />
}