@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clearfix">
    <div id="headleft" class="half">
        <div id="headactions">
            @RenderSection("lefthead")
        </div>
    </div>
    <div id="headright" class="half bg-red">
        @RenderSection("righthead")
    </div>
</div>
